* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}

header img {
    width: 10%;
    
}

.places-category {
    width: 90%;
    margin: auto;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0rem !important;
}

.place-item {
    list-style: none;
}

.place-item img {
    width: 100%;
}