:root {
    --color-1: #B7B597; 
    /* --color-1: #222831;  */
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.5;
  
    color: #defaf8;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}

body, html {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}

header img {
    width: 10%;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

.places-category {
    width: 90%;
    margin: auto;
    background: var(--color-1);;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4F6F52;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-left: 0rem !important;
    

}

.place-item {
    list-style: none;
    border-radius: 1rem;
    object-fit: cover;
    border-radius: 1rem;
}

.place-item button {
    background: var(--color-1);;
    border: none;
    padding: 1rem;
}

.place-item h3 {
    background: yellow;
    width: max-content;
    margin: auto;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.place-item img {
    max-width: 100%;
    border-radius: 1rem;
   
}

@media(min-width: 768px) {
    .places {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}