* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    outline: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}

header img {
    width: 10%;
    /* margin: auto; */
}

